extends layout

block content
    .jumbotron
        .container
            h2 Hi Ipuy users, any question?
            p Yupi lahir di Jakarta, pada 14 Januari 1998. Pemilihan nama panggilan yang menghindari kata "Cindy" dikarenakan untuk menghindari kebingungan dan untuk membedakan antara Cindy Yuvia dengan Cindy Gulla yang juga merupakan anggota dari JKT48 (sekarang Cindy Gulla telah graduate), sehingga para penggemar memilih nama panggilan Yupi, yang juga mirip dengan nama permen "Yupi".
            a.btn.btn-primary.btn-lg(href='#') Contact Ipuy
    .container
        .row
            .col-md-4
                h2 Who's Ipuy
                p Yupi lahir di Jakarta, pada 14 Januari 1998. Pemilihan nama panggilan yang menghindari kata "Cindy" dikarenakan untuk menghindari kebingungan dan untuk membedakan antara Cindy Yuvia dengan Cindy Gulla yang juga merupakan anggota dari JKT48 (sekarang Cindy Gulla telah graduate), sehingga para penggemar memilih nama panggilan Yupi, yang juga mirip dengan nama permen "Yupi".
                a.btn.btn-default(href='#') View Details
            .col-md-4
                h2 Ipuy
                p Yupi lahir di Jakarta, pada 14 Januari 1998. Pemilihan nama panggilan yang menghindari kata "Cindy" dikarenakan untuk menghindari kebingungan dan untuk membedakan antara Cindy Yuvia dengan Cindy Gulla yang juga merupakan anggota dari JKT48 (sekarang Cindy Gulla telah graduate), sehingga para penggemar memilih nama panggilan Yupi, yang juga mirip dengan nama permen "Yupi".
                a.btn.btn-default(href='#') View Details
            .col-md-4
                h2 Meet Ipuy
                p Yupi lahir di Jakarta, pada 14 Januari 1998. Pemilihan nama panggilan yang menghindari kata "Cindy" dikarenakan untuk menghindari kebingungan dan untuk membedakan antara Cindy Yuvia dengan Cindy Gulla yang juga merupakan anggota dari JKT48 (sekarang Cindy Gulla telah graduate), sehingga para penggemar memilih nama panggilan Yupi, yang juga mirip dengan nama permen "Yupi".
                a.btn.btn-default.seng(href='#') View Details

